/* footer.module.css */

.footer {
    font-family: 'Avenir', sans-serif;
    font-size: 1vw;
    margin-top: 100px;
    width: 100vw;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
    box-shadow: 0px -1px 4px #37194D; /* Add this line for top shadow */
    background-color: #37194D; /* Assuming you want the shadow on a dark background */
  }
  
  @font-face {
    font-family: 'Avenir';
    src: url('/fonts/Avenir.woff2') format('woff2'),
         url('/fonts/Avenir.woff') format('woff');
  }
  
  .container {
    position: relative;
  }
  
  .newsletterButton {
    margin-left:auto;
    margin-right:auto;
    width: 20vw;
    background-color: #9b8ca6;
    font-weight: bold;
    padding: 0vh 1%;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; 
  }
  
  .newsletterButton:hover {
    background-color: #8a6e9c;
  }
  
  .newsletterText {
    padding:10px;
    position: relative;
    opacity: 1;
    color: #ffffff;
    z-index: 2; 
  }
  