@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir.woff2') format('woff2'),
       url('/fonts/Avenir.woff') format('woff');
}

.info {
  font-family: 'Avenir', sans-serif;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  padding: 2vw;
  border-radius: 10px;
}

.imageContainer {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 10px; /* Rounded corners for the container */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container while keeping its aspect ratio */
}

.description {
  font-size: 1.2vw;
  color: #ffffff;
  text-align: center;
  margin-top: 1vw;
  padding: 1vw;
}

.button {
  padding: 0.8vw 2vw;
  font-size: 1.2vw;
  background-color: #b794d0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Push button to the bottom, ensuring vertical alignment */
}

.button:hover {
  background-color: #37194D;
}
